$primary: #000;
$secondary: #333555;
$background: #fff;

$break-narrow: 360px;
$break-mid:	800px;
$break-wide: 1260px;

/** Global Styles **/
@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noselect {
	@include no-select;
}

* {
	box-sizing: border-box;
}
