/** gpumgr default theme (light) **/

$primary: #000;
$secondary: #333555;
$background: #fff;

$lightShades: #E7F0C3;
$lightAccent: #F0CF85;
$mainBrand: #5BBFBA;
$mainAccent: #A4D4AE;
$darkShades: #5F6CAF;
$darkAccent: #CC6C65;

$darkGrey: rgb(32,32,32);
$medGrey: rgb(64,64,64);
$lightGrey: rgb(128,128,128);
$lighterGrey: rgb(224,224,224);

$break-narrow: 360px;
$break-mid:	800px;
$break-wide: 1260px;

/** Global Styles **/
@mixin no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noselect {
	@include no-select;
}

* {
	box-sizing: border-box;
}

html,body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}

body {
	font-family: "Ubuntu",Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
	font-weight: 300;
	display: grid;
	grid-template-rows: [header] 6em [main] auto [footer] 2em;
	grid-template-columns: [menu] 10em [main] auto;
	grid-template-areas:
		"menu header"
		"menu main" 
		"footer footer";
	transition: grid-template-columns 0.5s;
}

body.menuHidden {
	grid-template-columns: [menu] 0em [main] auto;
}

header {
	@include no-select;
	grid-area: header;
	padding: 0.5em;
	display:flex;
	justify-content: space-between;
	width: 100%;
	background-color: #71d7ff;
	color: black;
	position: sticky;
	top: 0;
	z-index: 1;
}

header div.logo {
	display: flex;
}

header div.right {
	align-self:center;
}

/*header div.logo img {
	height: 6em;
	padding-left: calc(0.5em + 2px);
	padding-right: calc(1.5em + 2px);
}*/

header div.logoText {
	display: flex;
	flex-wrap: wrap;
	width: 18em;
	align-content: center;
}

header div.logoText span.logoText small {
	color: #686868;
	font-size: 0.65em;
}
header div.logoText span.logoText {
	margin-top:-0.5em;
	font-family: 'Teko';
	font-weight: 500;
	font-size: 2.5em;
}

header div.logoText span.sloganText {
	font-family: 'Ubuntu';
	font-weight: 300;
	font-size: 1.25em;
}

nav {
	@include no-select;
	grid-area: menu;
	overflow: hidden;
	background-color: #87afd9;
	border-right: 4px solid #87afd9;
}

nav div.logoImage {
	width: 10em;
	text-align: center;
}
nav div.logoImage img {
	height: 6em;
}

nav menu {
	width: 10em;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav menu li {
	padding: 1em;
	text-align: center;
	font-size: 1.1em;
	background-color: #6792bf;
}

nav menu li:hover {
	filter:brightness(125%);
}

nav menu li.active {
	background-color: #dd72b3;
}

main {
	@include no-select;
	grid-area: main;
	border-top: 4px solid #87afd9;
	padding: 0.5em;
}

main h2 {
	font-size: 1.25em;
	font-weight: 400;
}

main table.gpuTable {
	width: 100%;
}

main table.gpuTable tr td:first-child {
	text-align: center;
}

main table.gpuTable td {
	padding: 0.5em;
}

main table.gpuTable thead tr {
	background-color: rgb(128,128,128);
	color: rgb(255,255,255);
}

main table.gpuTable tbody tr:hover {
	background-color: rgb(222,222,222);
}

main div.cardWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

main div.card {
	@include no-select;
	color: $darkShades;
	min-width: 400px;
	padding: 1em;
	padding-top:0;
	margin: 1em;
	border-radius: 1em;
	box-shadow: 4px 4px 12px rgba(0,0,0,0.2);
	flex-grow: 1;
	transition: box-shadow 0.333s;
	flex-basis: calc(33% - 2em);
}

main div.card h1 {
	font-size: 1.5em;
}

main div.card:hover {
	box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
}

main div.card.half {
	max-width: initial;
	flex-basis: calc(50% - 2em);
}

main div.card.wide {
	max-width: initial;
	flex-basis: calc(66% - 2em);
}

main div.card.full {
	max-width: initial;
	flex-basis: 100%;	
}

footer {
	@include no-select;
	grid-area: footer;
	padding: 0.25em;
	font-family: 'Ubuntu';
	background-color: rgb(222,222,222);
	display: grid;
	justify-items:center;
	align-items:center;
	height:100%;
	border-top: 4px solid rgb(196,196,196);
	font-size:0.9em;
}

footer a {
	text-decoration: none;
	color:black;
}

footer a:visited {
	color:black;
}

@import "sortable.scss";
@import "material-icons.scss";
@import "google-fonts.scss";